<h1>Burger Store
</h1>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}<!-- learn what unless does-->
    <li>
      <p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">name:</span> {{this.burger_name}}</p>
      <p><span class="label">has it been eaten:</span> {{this.devoured}}</p>
        <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eatBurger" value="1">
          <button type="submit">Eat!</button>
        </form>
      </p>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>burger has been eaten</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
        <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eatBurger" value="0">
          <button type="submit">throw it up</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>


<h2>add a new burger</h2>
<form method="POST" action="/create" class="button-size">
	<textarea type="text" name="newBurgers"></textarea>
	<button type="submit">create your burger!</button>
</form>
<!--
<h2>change something in the menu</h2>
<form action="/update?_method=PUT" method="POST" class="button-size">
  <input type="hidden" name="id" value="{{this.id}}">
  <button type="submit">EAT!</button>
</form> -->
